body {
    // solace icon
    .elementor-panel .elementor-element div.icon .solace-extra::after {
        position: absolute;
        top: 5px;
        right: -13px;
        content: "WL";
        font-size: 22px;
        opacity: .7;
        background-image: url(../images/solace-icon.png);
        background-size: 13px;
        background-repeat: no-repeat;
        color: rgba(0, 0, 0, 0);
    }

    // Solaceform.
    .solaceform-form {
        .solaceform-form-button-wrap {
            @media only screen and (min-width: 767px) and (max-width: 1024px) {
                button.tablet-full-width {
                    width: 100%;
                }
            }

            @media only screen and (min-width: 1024px) {
                button.desktop-full-width {
                    width: 100%;
                }
            }

            @media only screen and (max-width: 766px) {
                button.mobile-full-width {
                    width: 100%;
                }
            }            
        }
    }

    // Product Meta.
    .elementor-widget-solace-extra-product-meta {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .solace_extra_product_meta {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            span.detail-container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                &::after {
                    display: inline-block;
                }
            }
        }
    }    

    // Product Meta - View Stacked
    .elementor-woo-meta--view-stacked.elementor-widget-solace-extra-product-meta {

        .solace_extra_product_meta {
            flex-direction: column;
            align-items: flex-start;

            .sku_wrapper,
            .posted_in,
            .tagged_as {
                display: block;
                padding-bottom: 0;
            }

            span.detail-container {
                position: relative;
                width: 100%;

                &:not(:last-child) {
                    &::after {
                        left: 0;
                        position: absolute !important;
                    }
                }
            }
        }

    }    

    // Product Meta - View Inline
    .elementor-woo-meta--view-inline.elementor-widget-solace-extra-product-meta {
        .solace_extra_product_meta {
        }
    }

}
