/* Global */
.solace-extra-box-woocommerce-checkout .woocommerce form.checkout_coupon p.form-row-first {
    width: auto;
}

.solace-extra-box-woocommerce-checkout .woocommerce form.checkout_coupon p.form-row-first input {
    padding: 10px;
}

.solace-extra-box-woocommerce-checkout .woocommerce form.checkout_coupon p.form-row-last {
    width: 60px;
}

.solace-extra-box-woocommerce-checkout .woocommerce .button:not(header.button):not(footer.button) {
    font-weight: 400;
    font-family: "DM Sans";
    /* border-radius: 0; */
}

.solace-extra-box-woocommerce-checkout .woocommerce-info .showcoupon {
    background: unset;
    border: unset;
}

.solace-extra-box-woocommerce-checkout .woocommerce-info .showcoupon:focus {
    border: unset;
    outline: unset;
}

.solace-extra-box-woocommerce-checkout form.checkout {
    position: relative;
}

.solace-extra-box-woocommerce-checkout .box-order table.shop_table th,
.solace-extra-box-woocommerce-checkout .box-order table.shop_table td {
    padding-left: 0;
    padding-right: 0;
}

.solace-extra-box-woocommerce-checkout .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
    width: 100%;
    position: absolute;
    top: 0;
}

.solace-extra-box-woocommerce-checkout form.checkout .form-row input.input-text,
.solace-extra-box-woocommerce-checkout form.checkout .form-row select,
.solace-extra-box-woocommerce-checkout form.checkout .form-row dropdown,
.solace-extra-box-woocommerce-checkout form.checkout .form-row textarea {
    /* background: #F1F5F9; */
    /* border: none; */
    outline: none;
    /* border-width: 0; */
    /* padding: 16px; */
    /* border-radius: 8px; */
}

.elementor-page.woocommerce-page span.select2-dropdown.select2-dropdown--below {
    margin-top: 5px;
}
.elementor-page.woocommerce-page input.select2-search__field {
    background-color: inherit !important;
    color: inherit !important;
    border-radius: inherit !important;
    box-shadow: inherit !important;
    border-width: 1px !important;
}

.solace-extra-box-woocommerce-checkout form.checkout table.shop_table thead,
.solace-extra-box-woocommerce-checkout form.checkout table.shop_table tbody, 
.solace-extra-box-woocommerce-checkout form.checkout table.shop_table tfoot {
    border-bottom: 0;
}

/* Layout 1 */
.solace-extra-box-woocommerce-checkout.layout-1 .box-shipping,
.solace-extra-box-woocommerce-checkout.layout-1 .box-order {
    margin-bottom: 20px;
    border: 1px solid #E2E8F0;
    padding: 20px;
    border-radius: 16px;
}

.solace-extra-box-woocommerce-checkout.layout-1 .woocommerce-billing-fields h3,
.solace-extra-box-woocommerce-checkout.layout-1 .box-shipping h3,
.solace-extra-box-woocommerce-checkout.layout-1 .box-order h3 {
    margin-bottom: 24px;
    padding-bottom: 24px;
    font-size: var(--h4fontsize);
}

.solace-extra-box-woocommerce-checkout.layout-1 form.checkout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}

/* Layout 1 - Billing Details */
.solace-extra-box-woocommerce-checkout.layout-1 form.checkout .box-form {
    width: calc(100% - 450px);
}

/* Layout 1 - Your Order */
.solace-extra-box-woocommerce-checkout.layout-1 form.checkout .box-order {
    width: 400px;
}

.solace-extra-box-woocommerce-checkout.layout-1 form.checkout .box-order button {
    width: 100%;
    padding: 16px 0;
    text-align: center;
}

.solace-extra-box-woocommerce-checkout.layout-1 form.checkout .box-order .form-row {
    margin-bottom: 0;
}

@media only screen and (max-width: 1100px) {
    .solace-extra-box-woocommerce-checkout.layout-1 form.checkout {
        gap: 20px;
        flex-direction: column;
    }

    .solace-extra-box-woocommerce-checkout.layout-1 form.checkout .box-form,
    .solace-extra-box-woocommerce-checkout.layout-1 form.checkout .box-order {
        width: 100%;
    }
}
@media only screen and (max-width: 576px) {

    .solace-extra-box-woocommerce-checkout.layout-1 form.checkout #payment ul.payment_methods {
        padding: 0;
    }

}

/* Layout 2 */
.solace-extra-box-woocommerce-checkout.layout-2 .box-shipping,
.solace-extra-box-woocommerce-checkout.layout-2 .box-order-and-shipping {
    margin-bottom: 20px;
    border: 1px solid #E2E8F0;
    padding: 20px;
    border-radius: 16px;
}

.solace-extra-box-woocommerce-checkout.layout-2 .woocommerce-billing-fields h3,
.solace-extra-box-woocommerce-checkout.layout-2 .box-shipping h3,
.solace-extra-box-woocommerce-checkout.layout-2 .box-order-and-shipping h3 {
    margin-bottom: 24px;
    padding-bottom: 24px;
    font-size: var(--h4fontsize);
}

.solace-extra-box-woocommerce-checkout.layout-2 form.checkout {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/* Layout 2 - Billing Details */
.solace-extra-box-woocommerce-checkout.layout-2 form.checkout .box-form {
    width: calc(100% - 450px);
}

/* Layout 2 - Billing Details */
.solace-extra-box-woocommerce-checkout.layout-2 form.checkout .box-form {
    width: calc(100% - 450px);
}

/* Layout 2 - Your Order */
.solace-extra-box-woocommerce-checkout.layout-2 form.checkout .box-order {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 30px;
}

.solace-extra-box-woocommerce-checkout.layout-2 form.checkout .box-order button {
    width: 100%;
    padding: 16px 0;
    text-align: center;
}

.solace-extra-box-woocommerce-checkout.layout-2 form.checkout .box-order .form-row {
    margin-bottom: 0;
}

@media only screen and (max-width: 1100px) {
    .solace-extra-box-woocommerce-checkout.layout-2 form.checkout,
    .solace-extra-box-woocommerce-checkout.layout-2 form.checkout .box-order {
        gap: 20px;
        flex-direction: column;
    }

    .solace-extra-box-woocommerce-checkout.layout-2 .box-shipping {
        margin-bottom: 0;
    }

    .solace-extra-box-woocommerce-checkout.layout-2 form.checkout .box-form,
    .solace-extra-box-woocommerce-checkout.layout-2 form.checkout .box-order {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {

    .solace-extra-box-woocommerce-checkout.layout-2 form.checkout #payment ul.payment_methods {
        padding: 0;
    }

}

/* Layout 3 */
.solace-extra-box-woocommerce-checkout.layout-3 .box-order,
.solace-extra-box-woocommerce-checkout.layout-3 .box-shipping {
    margin-bottom: 20px;
    border: 1px solid #E2E8F0;
    padding: 20px;
    border-radius: 16px;
}

.solace-extra-box-woocommerce-checkout.layout-3 .woocommerce-billing-fields h3,
.solace-extra-box-woocommerce-checkout.layout-3 .box-order h3,
.solace-extra-box-woocommerce-checkout.layout-3 .box-shipping h3 {
    margin-bottom: 24px;
    padding-bottom: 24px;
    font-size: var(--h4fontsize);
}

/* Layout 3 - Billing Details */
.solace-extra-box-woocommerce-checkout.layout-3 form.checkout {
    display: block;
    position: relative;
    width: 100%;
    padding-right: 450px;
}

.solace-extra-box-woocommerce-checkout.layout-3 form.checkout .box-form {
    margin-bottom: 30px;
}

.solace-extra-box-woocommerce-checkout.layout-3 form.checkout .box-shipping {
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
}

/* Layout 3 - Your Order */
.solace-extra-box-woocommerce-checkout.layout-3 form.checkout .box-order button {
    width: 100%;
    padding: 16px 0;
    text-align: center;
}

.solace-extra-box-woocommerce-checkout.layout-3 form.checkout .box-order .form-row {
    margin-bottom: 0;
}

@media only screen and (max-width: 1100px) {
    .solace-extra-box-woocommerce-checkout.layout-3 form.checkout {
        padding-right: 0;
        flex-direction: column;
    }

    .solace-extra-box-woocommerce-checkout.layout-3 form.checkout .box-shipping {
        width: 100%;
        position: unset;
    }

    .solace-extra-box-woocommerce-checkout.layout-3 form.checkout .box-form {
        margin-bottom: 0;
    }

    .solace-extra-box-woocommerce-checkout.layout-3 .box-shipping {
        margin-bottom: unset;
        border: unset;
        padding: unset;
        border-radius: unset;
    }

    .solace-extra-box-woocommerce-checkout.layout-3 .box-order {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .solace-extra-box-woocommerce-checkout.layout-3 .box-order h3 {
        order: 1;
    }
}

@media only screen and (max-width: 576px) {

    .solace-extra-box-woocommerce-checkout.layout-3 form.checkout #payment ul.payment_methods {
        padding: 0;
    }

}